.profile{
  background-color:	#F0FFFF;
}

.container{
  max-width: 300px;
  margin: left;
  background-color: rgba(188, 199, 188, 0.466);
}

.smallContainer{
  width: 50px;
  height: 30px;
  margin-left: 1250px;
  margin-top:250px;
  background-color: rgba(188, 199, 188, 0.466)

}

.skillContainer{
  margin-top: -500px;
  margin-right: -200px;
  margin-left: 500px;
  width: 200px;
  background-color: rgba(188, 199, 188, 0.466)
}

.project{
  margin-top: -200px;
  margin-left: 900px;
  width: 200px;
  background-color: rgba(188, 199, 188, 0.466)
}

  img{
    width:100%;
  }

  

