<div class="body">


  <div class="bigBigContainer">

     <form class="event-creation-display">
        <div class="fileInput" matTooltip="Click to upload photo">
          <input type="file" (change)="onFileSelected($event)"  id="file-input">
          <label for="file-input">
            <img [src]="url">
          </label>
        </div>
      </form>
    <div class="bigContainer">

      <div class = "label">Edit profile</div>
      <br>
      <div class="register-container" >
        <div class = "leftCol">
          <!-- <mat-card> -->
            <mat-form-field>
              <input matInput [(ngModel)]="firstname" placeholder="First Name" required>
            </mat-form-field>

            <mat-form-field>
              <input matInput [(ngModel)]="lastname" placeholder="Last Name" required >
            </mat-form-field>

            <mat-form-field>
              <input matInput [(ngModel)]="email" placeholder="Email" required >
            </mat-form-field>

            <mat-form-field>
              <input matInput type="tel" pattern="^07(.*)" [(ngModel)]="phone" placeholder="Phone Number" maxlength="10" minlength="10" required>
            </mat-form-field>

            <mat-form-field>
              <input matInput [(ngModel)]="role" placeholder="Role" required >
            </mat-form-field>

            <mat-form-field>
              <input matInput [(ngModel)]="date" placeholder="Date" required >
            </mat-form-field>

            <mat-form-field>
              <input matInput [(ngModel)]="consultinglevel" placeholder="Consulting Level" required >
            </mat-form-field> 
          <!-- </mat-card> -->
      </div>

        
        <button type="save" (click)="saveProfile()" mat-flat-button class="register-button">
          Save 
        </button>
      </div> 

  </div>
</div>
</div>